<header>
    <ul>
        <li><a href="/courses">All Courses</a></li>
        <li><a href="/courses/new">Add Courses</a></li>
        <li><a href="/assignments/new">Add Assignment</a></li>
        <li><a href="/assignments">All Assignments</a></li>
    </ul>
</header>