<div>
    <label>Course Name</label>
    <input type="text" name="name" value="<%= course.name %>">
</div>

<div>
    <label>Course Code</label>
    <input type="text" name="code" value="<%= course.code %>">
</div>