<h2>Update Assignment</h2>
<form action="/assignments/<%= assignment.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <button type="submit">Update</button>
    <a href="/assignments">Cancel</a> 
</form>